pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  background: #F0F8FF;
  color: #333; /* Darker text color for better readability */
}

.hljs-meta,
.hljs-meta-string {
  font-weight: lighter;
  color: #DB7093;
}

.hljs-comment,
.hljs-quote {
  font-style: italic;
  color: #6A5ACD;
}

.hljs-name,
.hljs-keyword,
.hljs-built_in {
  color: #1E90FF;
  font-weight: bold;
}

.hljs-string,
.hljs-meta .hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-link {
  color: #008000;
}

.hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-variable,
.hljs-template-variable {
  color: #FFA500;
}

.hljs-title.class_,
.hljs-class .hljs-title,
.hljs-type {
  font-weight: bold;
  color: #B22222;
}

.hljs-title.function_,
.hljs-function .hljs-title,
.hljs-attr,
.hljs-subst,
.hljs-tag {
  color: #333; /* Darker text color for better readability */
}

.hljs-formula {
  background-color: #EEE;
  font-style: italic;
}

.hljs-addition {
  background-color: #C2E0C6;
}

.hljs-deletion {
  background-color: #FFCCCC;
}

.hljs-meta {
  color: #9932CC;
}

.hljs-section,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-selector-tag {
  font-weight: bold;
  color: #DB7093;
}

.hljs-selector-pseudo {
  font-style: italic;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
